<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>map</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/css/app.css"/>
</head>

<body ng-app="MapApp">

<daum-map level="9" lat="33.380038917758824" lng="126.554480321402"></daum-map>

<div class="search-ctrl" ng-controller="SearchCtrl">
    <form ng-submit="searchAddr()">
    <div class="input-group " ng-class="{'has-error':hasError}">
            <input type="text" class="form-control" ng-model="query" placeholder="주소만 검색이 됩니다">
            <span class="delete glyphicon glyphicon-remove"
                  ng-show="isResult" ng-click="deleteResult()"></span>
            <span class="input-group-btn">
                <button class="btn btn-default" type="sumbit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
    </div>
    </form>
    <ul class="result list-unstyled" ng-show="isResult">
        <li ng-repeat="item in items" ng-click="moveMap(item)">
            <span class="glyphicon glyphicon-map-marker"></span> {{ item.title }} {{ item.buildingAddress }}
        </li>
    </ul>
    <!--<div class="addr" ng-bind="addr"></div>-->
</div>

<div class="info-ctrl" ng-controller="InfoCtrl">
    <div class="content" ng-show="content">
    <span class="glyphicon glyphicon-map-marker"></span>
    {{ content }}
    <button ng-show="hasOpener" class="btn btn-success btn-xs" ng-click="select()">
        <span class="glyphicon glyphicon-ok"></span>선택
    </button>
    </div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>-->

<!-- TODO. apikey 변경! 지도형 API -->
<script src="http://apis.daum.net/maps/maps3.js?apikey=747cb941765d07a671817527ddc1d54d8608841c"
        charset="utf-8"></script>

<!--<script src="lib/util/dmap.js"></script>-->
<script src="lib/app.js"></script>
<script src="lib/controllers/info-ctrl.js"></script>
<script src="lib/controllers/search-ctrl.js"></script>
<script src="lib/directive/daum-map.js"></script>
<script src="lib/services/config.js"></script>
<script src="lib/services/coord2addr.js"></script>
<script src="lib/services/addr2coord.js"></script>
<script src="lib/services/dmap.js"></script>

</body>
</html>